* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome-message {
  min-height: 50px;
}
.ip-field a {
  border: 1px solid black;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 5px;
}
